<div class="jumbotron">
    <img class="img-fluid" src="https://www.alrasub.com/wp-content/uploads/2018/02/success-ful.jpg" />
    <p></p>
    <p></p>
    <p class="h1">Action completed Successfully!!!</p>
    <a class="btn btn-info" asp-action="Index">Return to Main Page</a>"
</div>